<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114822086924-8ndmv062ea8ppmeuornkiv8bvu26rvdh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114822086924-8ndmv062ea8ppmeuornkiv8bvu26rvdh</string>
	<key>API_KEY</key>
	<string>AIzaSyD0JfCJ5jsFCQyZmQaV_uWOhXbqP9e0Vgo</string>
	<key>GCM_SENDER_ID</key>
	<string>114822086924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jgf.gtmtests</string>
	<key>PROJECT_ID</key>
	<string>gtmtests-46755</string>
	<key>STORAGE_BUCKET</key>
	<string>gtmtests-46755.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114822086924:ios:86c2ac59655998ad3c4929</string>
</dict>
</plist>